*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

h2 {
    font-size: 36px;
    color: #139AB8;
    text-align: center;
}

/* nav {
    margin-top: 2rem;
    position: sticky;
} */

.navigationitems {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    background: #fff;
    width: 70%;
    margin: 0 auto;
    border-radius: 2rem;
    padding-block: .75rem;
    padding-inline: 3rem;
    border: .5px solid #1a1a1a1c;
    box-shadow: 5px 6px 0px #C5EDF6;
}

.navigationitems li a {
    color: #1A1A1A;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.img-face {
    background: url(../asset/images/dotmetrics.png);
}

#hometext a {
    font-size: 32px;
    font-weight: 600;
}

section.cover-section {
    text-align: center;
}

section.cover-section h1 {
    color: #139AB8;
    font-size: 48px;
}

section.cover-section p {
    width: 55%;
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 5rem;
}

.home-page-nav #hometext {
    display: none;
}

/* time line */
section#timeline {
    width: 60%;
    margin: 8rem auto;
    border-radius: 2rem;
    box-shadow: 8px 8px 0px 3px #C5EDF6;
}
.vertical-timeline ul {
    padding: 50px 0;
}

.vertical-timeline ul li {
    position: relative;
    list-style-type: none;
    width: 1px;
    background: #139AB8;
    margin: 0 auto;
    line-height: .25rem;
}
/* .vertical-timeline ul li::before {
    content: "";
    position: absolute;
    height: 95%;
    border-left: 2px dashed #139AB8;
    font-size: 110%;
    padding: 0px;
} */

.vertical-timeline ul li::after {
    background: #139AB8;
    content: '';
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50%;
}
.vertical-timeline ul li:nth-child(even)::after {
    background: #fff;
    border: 2px solid #139AB8;
}

.vertical-timeline ul li div {
    position: relative;
    width: 400px;
    padding: 15px;
    border-radius: 5px;
    bottom: 0;
}

.vertical-timeline ul li:nth-child(odd) div {
    left: 45px;
    text-align: end;
}

.vertical-timeline ul li:nth-child(even) div {
    left: -445px;
}

.vertical-timeline time {
    font-weight: bold;
    font-size: 24px;
    color: #1A1A1A;
    display: block;
    margin-bottom: 10px;
}
.vertical-timeline p{
    color: #1a1a1a8f;
    font-size: 16px;
}
.vertical-timeline .work-title{
    font-size: 20px;
    color: #1a1a1a9f;
    font-weight: 600;
}

.vertical-timeline ul li div {
    /* visibility: hidden;
    opacity: 0; */
    transition: all .5s ease-in-out;
}

ul li:nth-child(odd) div {
    transform: translate3d(-500px, 0, 0);
}

.vertical-timeline ul li:nth-child(even) div {
    transform: translate3d(500px, 0, 0);
}

.vertical-timeline ul li.show div {
    transform: none;
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 900px) {
    .vertical-timeline ul li div {
        width: 250px;
    }

    .vertical-timeline ul li:nth-child(even) div {
        left: -289px;
        /*250+45-6*/
    }
}

/*  */
/* projects */
.cards {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(385px, 1fr));
    place-items: center;
    width: 80%;
    margin: 0 auto;
}

.card {
    box-shadow: 2px 2px 10px 0px #11111117;
    margin-bottom: 4rem;
    border-radius: 15px;
}

.card-info {
    display: flex;
    gap: 1rem;
    color: #BCBCBC;
    padding-left: 0.5rem;
}

.info-card-context {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.card-content::after {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    background: #1a1a1a2b;
}

.card-link button {
    box-shadow: none;
    border: none;
    background: #fff;
    margin-bottom: 1rem;
    position: relative;
}

.card-link a {
    color: #139AB8;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.card-link button::after {
    content: "";
    margin-left: .75rem;
    background: url(../asset/images/card-images/arrow-right.svg) no-repeat;
    position: absolute;
    top: 2px;
    height: 18px;
    width: 20px;
}
.custom-button-container {
    text-align: center;
}

.custom-button-container a {
    text-decoration: none;
    color: #139AB8;
    font-size: 18px;
    font-weight: 900;
}

button.custom-button {
    padding: 1rem 2rem;
    border-radius: 25px;
    background: #fff;
    border: 1px solid #11111124;
    box-shadow: 2px 2px 0px 1px #C5EDF6;
    position: relative;
}

section#projects {
    padding: 4rem 0rem;
}
button.custom-button::after {
    content: "";
    margin-left: 0.5rem;
    background: url(../asset/images/card-images/arrow-right.svg) no-repeat;
    position: absolute;
    top: 22px;
    height: 25px;
    width: 25px;
}
/*  */
footer {
    background: url(../asset/images/dotmetrics.png);
    text-align: center;
    display: flex;
    place-content: center;
    margin-top: 1rem;
}

footer .contactme {
    background: #fff;
    padding: 3.5rem 12rem;
    margin-bottom: 7rem;
    margin-top: 1rem;
    box-shadow: 2px 2px 5px 1px #00000038, 0px 0px 0px 15px #C5EDF6, 0px 0px 0px 15px #000;
    border-radius: 20px;
    overflow: hidden;

}

footer .contactme h2 {
    margin-top: 0;
}

footer .contactme p {
    font-size: 24px;
    font-weight: 400;
}

footer .contactme p a {
    color: #000;
    font-weight: 800;
    text-decoration: none;
}

.social img {
    width: 13%;
    margin-left: 2rem;
}