*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}
h2{
    font-size: 36px;
    color: #139AB8;
    text-align: center;
}

/* nav {
    margin-top: 2rem;
    position: sticky;
} */

.navigationitems {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    background: #fff;
    width: 70%;
    margin: 0 auto;
    border-radius: 2rem;
    padding-block: .75rem;
    padding-inline: 3rem;
    border: .5px solid #1a1a1a1c;
    box-shadow: 5px 6px 0px #C5EDF6;
}

.navigationitems li a {
    color: #1A1A1A;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}
.img-face {
    background: url(../asset/images/dotmetrics.png);
}

#hometext a {
    font-size: 32px;
    font-weight: 600;
}
section.cover-section {
    text-align: center;
}

section.cover-section h1 {
    color: #139AB8;
    font-size: 48px;
}
section.cover-section p {
    width: 55%;
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 5rem;
}
.home-page-nav #hometext {
    display: none;
}
footer {
    background: url(../asset/images/dotmetrics.png);
    text-align: center;
    display: flex;
    place-content: center;
    margin-top: 1rem;
}
footer .contactme {
    background: #fff;
    padding: 3.5rem 12rem;
    margin-bottom: 7rem;
    margin-top: 1rem;
    box-shadow: 2px 2px 5px 1px #00000038, 0px 0px 0px 15px #C5EDF6, 0px 0px 0px 15px #000;
    border-radius: 20px;
}
footer .contactme h2 {
    margin-top: 0;
}
footer .contactme p {
    font-size: 24px;
    font-weight: 400;
}
footer .contactme p a {
    color: #000;
    font-weight: 800;
    text-decoration: none;
}
.social img {
    width: 13%;
    margin-left: 2rem;
}
/* images */


/* images end */