*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #FAFAFA;
    background-color: #141616;
}

nav {
    margin-top: 2rem;
    position: sticky;
}

.navigationitems {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    background: rgb(67, 66, 64);
    width: 80%;
    height: 2rem;
    margin: 0 auto;
    border-radius: 2rem;
    padding-block: .75rem;
    padding-inline: 3rem;
}

.navigationitems li a {
    color: #FAFAFA;
    text-decoration: none;
}

#hometext a {
    font-size: 32px;
    font-weight: 600;
}

/* images */
.imgs>.top-section-img {
    /* (oldVal - oldMin) * newRange / oldRange + newMin */
    --value: min(var(--scroll), 30) * 50 / 30;
    width: calc(50vw + 1vw * var(--value));
    /* transform: translateY(calc(50% - 1% * var(--value))); */
}

@media (width <=1000px) {
    .top-section .right {
        display: none;
    }

    .top-section .left {
        text-align: center;
    }

    body {
        font-size: 24px;
    }

    h1 {
        font-size: 72px;
    }

    .imgs>.top-section-img {
        width: 100vw;
    }
}

:root {
    --scroll: 0;
}

.top-section {
    position: sticky;
    top: 0;
    /* (oldVal - oldMin) * newRange / oldRange + newMin */
    /* translate: 0 calc(-1% * (max(var(--scroll), 25) - 25) * 100 / 75); */
    --background-opacity: calc(100% - 1% * min(var(--scroll), 30) * 100 / 30);
}

.first-main-section {
    padding-top: 10vh;
}

.imgs>* {
    /* position: fixed; */
    width: 100vw;
    bottom: 0;
    z-index: 10;
    /* translate: 0 100%; */
    transition: translate 250ms ease-in-out;
}

.imgs>.show {
    translate: 0 0;
}

[data-img-to-show] {
    /* position: absolute; */
    top: 20%;
}

/* images end */